@charset "utf-8";

@font-face {
    font-family: 'neucharegular';
    src: url('../fonts/neucha-webfont.eot');
    src: url('../fonts/neucha-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neucha-webfont.woff2') format('woff2'),
         url('../fonts/neucha-webfont.woff') format('woff'),
         url('../fonts/neucha-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-light-italic_allfont.ru-webfont.eot');
    src: url('../fonts/roboto-light-italic_allfont.ru-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-italic_allfont.ru-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-italic_allfont.ru-webfont.woff') format('woff'),
         url('../fonts/roboto-light-italic_allfont.ru-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}
body {
	min-width: 1100px;
	text-align: center;
	font-family: 'robotolight';
	overflow-x: hidden;
	color: #fff;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-close {
	width: 47px;
	height: 47px;
	background: #ff4646;
	border-radius: 50%;
}
.fancybox-close:before {
	position: absolute;
	content: "X";
	font-size: 30px;
	top: 3px;
	left: 14px;
	color: #fff;
	font-family: "robotothin";
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'robotobold';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1050px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #a7a7a7;
}
input:-moz-placeholder {
	color: #a7a7a7;
}


.b-1 {
	background-image: url(../images/b1-fon.png);
	background-position: center;
	background-size: cover;
}
	.b-logo-cont {
		padding: 20px 0px; 
	}
		.b-1 .b-logo-cont .b-logo-img {
			margin-top: 2px;
		}
		.b-1 .b-logo-cont .b-logo-text {
			font-family: 'robotolight';
			font-size: 20px;
			margin-left: 190px;
			margin-top: 11px;
		}
	.b-date-cont {
		padding: 24px 0px;
	}
		.b-date-cont .b-date-cont-phone {
			font-family: 'neucharegular';
			font-size: 31px;
			color: #f6cd45;
			padding-bottom: 5px;
		}
		.b-date-cont a {
			font-family: 'robotolight_italic';
			font-size: 16px;
			color: #f6cd45; 
			border-bottom: 1px dashed #f6cd45;
		}
			.b-date-cont a:hover {
				border-bottom: none;
			}

.b-2 {
	background-image: url(../images/b2-fon2.jpg);
	background-position: center;
	background-size: cover;
	padding-top: 390px;
	padding-bottom: 102px;
}
	.b-2 .b-block .b-slider {
		width: 779px;
		margin: 0 auto;
		text-align: left;
	}
	.b-2 .b-block .b-slider .slick-dots {
		font-size: 0;
		bottom: 30px;
		position: absolute;
	}
		.b-2 .b-block .b-slider .slick-dots li {
			display: inline-block;
			margin-right: 4px;
		}

			.b-2 .b-block .b-slider .slick-dots li button {
				background: none;
				box-sizing:border-box;
				width: 14px;
				height: 14px;
				font-size: 0;
				border: 4px solid #ffc72d;
				cursor: pointer;
			}
			.b-2 .b-block .b-slider .slick-dots li.slick-active button {
				background-color: #ffc72d;
			}
	.b-2 .b-block .b-slide {
		position: relative;
		padding-bottom: 70px;
	}
		.b-2 .b-block .b-slide .b-slide-wrap {
			border-top: 12px solid #f6cd45;
			border-left: 12px solid #f6cd45;
			border-right: 12px solid #f6cd45;
			background: rgba(0,0,0,0.749);
			position: relative;
			height: 226px;
			display: table;
			width: 755px;
		}
			.b-2 .b-block .b-slide .b-slide-wrap .text{
				display:table-cell; 
				vertical-align:middle;
			}
		.b-2 .b-slider .b-slide .b-corner-left-top {
			height: 23px;
			width: 27px;
			border: 1px solid #a79e9b;
			position: absolute;
			top: 8px;
			left: 7px;
			border-bottom: none;
			border-right: none;
		}
		.b-2 .b-slider .b-slide .b-corner-left-bottom {
			height: 23px;
			width: 27px;
			border: 1px solid #a79e9b;
			position: absolute;
			bottom: 8px;
			left: 7px;
			border-top: none;
			border-right: none;
		}
		.b-2 .b-slider .b-slide .b-corner-right-top {
			height: 23px;
			width: 27px;
			border: 1px solid #a79e9b;
			position: absolute;
			top: 8px;
			right: 7px;
			border-bottom: none;
			border-left: none;
		}
		.b-2 .b-slider .b-slide .b-corner-right-bottom {
			height: 23px;
			width: 27px;
			border: 1px solid #a79e9b;
			position: absolute;
			bottom: 8px;
			right: 7px;
			border-top: none;
			border-left: none;
		}
	.b-2 .b-slider .b-slide h1 {
		font-family: 'neucharegular';
		font-size: 52px;
		text-align: center;
	}
		.b-2 .b-slide .border-bottom {
			position: absolute;
			bottom: 0px;
		}

.b-3 {
	background-color: #f6cd45;
}
	.b-form {
		padding: 45px 0px;
	}
		.b-form h2 {
			font-family: 'neucharegular';
			font-size: 27px;
			color: #3a3a3a;
		}
		.b-form form {

		}
			.b-form form input {
				border: none;
				text-align: center;
				font-family: 'open_sanslight';
				font-size: 16px;
				color: #3A3A3A;
				width: 218px;
				height: 28px;
				border: 1px solid #fff;
				margin-top: 40px;
				margin-right: 25px;
			}
			.b-form form .b-red-butt {
				text-transform: uppercase;
				color: #fff;
				background-color: #e94848;
				font-family: 'open_sansregular';
				border: none;
				width: 220px;
				height: 30px;
			}
				.b-form form .b-red-butt:hover {
					cursor: pointer;
					background-color: #B10B0B;
				}

.b-4 {
	background-image: url(../images/b4-fon.jpg);
	background-position: center;
	background-size: cover;
	/*overflow: hidden;*/
}
	.b-4 .b-img-question {
		position: absolute;
		left: -145px;
    	top: 555px;
    	-webkit-transition: all 100ms ease-out;
		   -moz-transition: all 100ms ease-out;
				transition: all 100ms ease-out;
	}
	.b-4 .b-img-lock {
		position: absolute;
		left: 1100px;
		top: 100px;
		-webkit-transition: all 100ms ease-out;
		   -moz-transition: all 100ms ease-out;
				transition: all 100ms ease-out;
	}
	.b-4 .b-appeal {
		position: relative;
		margin: 0 auto;
		
		padding-top: 95px;
		padding-bottom: 115px;
	}
		.b-4 .b-appeal .b-corner-left-top {
			height: 49px;
			width: 65px;
			border: 2px solid #fff;
			position: absolute;
			top: 84px;
    		left: 63px;
			border-bottom: none;
			border-right: none;
		}
		.b-4 .b-appeal .b-corner-left-bottom {
			height: 49px;
			width: 65px;
			border: 2px solid #fff;
			position: absolute;
			top: 480px;
			left: 63px;
			border-top: none;
			border-right: none;
		}
		.b-4 .b-appeal .b-corner-right-top {
			height: 49px;
			width: 65px;
			border: 2px solid #fff;
			position: absolute;
			top: 84px;
			left: 920px;
			border-bottom: none;
			border-left: none;
		}
		.b-4 .b-appeal .b-corner-right-bottom {
			height: 49px;
			width: 65px;
			border: 2px solid #fff;
			position: absolute;
			top: 480px;
			left: 920px;
			border-top: none;
			border-left: none;
		}
		.b-4 .b-appeal .b-appeal-cont {
			border: 1px solid #616161;
			width: 738px;
    		height: 333px;
    		margin: 0 auto;
			position: relative;
			padding: 40px 80px 50px;
		}
			.b-4 .b-appeal .b-appeal-cont .b-title {
				font-family: 'neucharegular';
				font-size: 27px;
			}
				.after-line:after {
					content: url(../images/h-line.png);
					position: absolute;
    				right: 203px;
    				top: 33px;
				}
				.before-line:before {
					content: url(../images/h-line.png);
					position: absolute;
					left: 201px;
					top: 33px;
				}
			.b-4 .b-appeal .b-appeal-cont p {
				font-family: 'robotolight';
				font-size: 16px;
				margin-top: 35px;
			}
				.b-4 .b-appeal .b-appeal-cont p span {
					color: #f6cd45;
				}
			.b-4 .b-appeal .b-appeal-cont .b-img-key {
				position: absolute;
				top: -383px;
    			left: 874px;
    			-webkit-transition: all 100ms ease-out;
				   -moz-transition: all 100ms ease-out;
						transition: all 100ms ease-out;
			}

.b-5 {
	background-image: url(../images/b5-fon.jpg);
	background-position: center;
	background-size: cover;
	border-top: 4px solid #f6cd45;
}
	.b-5 .b-advantages {
		padding-top: 45px;
		padding-bottom: 75px;
	}
		.b-5 .b-advantages .b-title {
			font-family: 'neucharegular';
			font-size: 27px;
		}
		.b-5 .b-advantages .after-line:after {
			right: 230px;
			top: 38px;
		}
		.b-5 .b-advantages .before-line:before {
			left: 230px;
			top: 38px;
		}
		.b-5 .b-advantages .b-list li {
			float: left;
			margin-right: 30px;
			margin-top: 45px;
			width: 240px;	
		}
			.b-5 .b-advantages .b-list li:last-child {
				margin-right: 0px;
			}
			.b-5 .b-advantages .b-list .b-list-cont {
				background-color: #fff;
				color: #2f2f2f;
				position: relative;
				height: 584px;
			}
				.b-5 .b-advantages .b-list .b-list-cont .b-list-cont-rectangle {
					height: 15px;
					background-color: #f6cd45;
				}
				.b-5 .b-advantages .b-list .b-list-cont .b-list-cont-text {
					padding: 0px 5px;

				}
					.b-5 .b-advantages .b-list .b-list-cont .b-list-cont-text h3 {
						font-family: 'neucharegular';
						font-size: 20px;
						padding-top: 35px;
						padding-bottom: 18px;
					}
					.b-5 .b-advantages .b-list .b-list-cont .b-list-cont-text hr {
						width: 188px;
						color: #d4d4d4;
						margin: 0 auto;
						size: 1px;
					}
					.b-5 .b-advantages .b-list .b-list-cont .b-list-cont-text p {
						font-family: 'robotolight';
						font-size: 15px;
						padding-top: 23px;
					}
				.b-5 .b-advantages .b-list .b-list-cont .b-border-bot {
					position: absolute;
					bottom: 5px;
					left: 0px;
				}

.b-6 {
	background-image: url(../images/b6-fon.jpg);
	background-position: center;
	background-size: cover;
	border-top: 4px solid #f6cd45;
}
	.b-6 .b-slider {
		width: 1050px;
		margin: 0px auto;
		padding-top: 155px;
		padding-bottom: 85px;
		min-height: 420px;
		position: relative;
	}
		.b-6 .b-slider > div {
			min-height: 420px;
		}
	.b-6 .b-slider .b-slide {
		position: relative;
		
	}
		.b-6 .b-title  {
			font-family: 'neucharegular';
			font-size: 27px;
			color: #1e1e1e;
			font-weight: bold;
			position: absolute;
			width: 100%;
			top: 50px;
		}
			.b-6 .after-line:after  {
				content: url(../images/h-line-dark.png);
				right: 50%;
				margin-right: -245px;
				top: -10px;
			}
			.b-6 .before-line:before {
				content: url(../images/h-line-dark.png);
				left: 50%;
				margin-left: -240px;
				top: -10px;
			}
		.b-6 .b-slider .b-slide {
			position: relative;
			width: 801px;
			float: right;
			padding-bottom: 42px;
		}
			.b-6 .b-slider .b-slide .b-slide-wrap {
				border-top: 12px solid #f6cd45;
				border-left: 12px solid #f6cd45;
				border-right: 12px solid #f6cd45;
				background: rgba(0,0,0,0.749);
				position: relative;
			}
			.b-6 .b-slider .b-slide .border-bottom {
				position: absolute;
				bottom: 0;
			}
			.b-6 .b-slider .person-photo {
				position: absolute;
				left: -230px;
				left: 0;
				bottom: -127px;
				bottom: 0;
				z-index: 1;
			}
			.b-6 .b-slider .b-slide .b-slide-cont {
				position: relative;
				padding-left: 208px;
				/* padding-right: 110px; */
			}
				.b-6 .b-slider .b-slide .b-slide-cont h2 {
					font-family: 'neucharegular';
					font-size: 28px;
					text-align: left;
					padding-top: 52px;
					width: 465px;
				}
				.b-6 .b-slider .b-slide .b-slide-cont .quotes-left {
					position: absolute;
					left: 120px;
    				top: 150px;
				}
				.b-6 .b-slider .b-slide .b-slide-cont p {
					font-family: 'robotolight';
					font-size: 15px;
					text-align: left;
					padding-top: 45px;
					padding-bottom: 60px;
					width: 480px;
				}
				.b-6 .b-slider .b-slide .b-slide-cont .quotes-right {
					position: absolute;
					right: 50px;
    				bottom: 45px;
				}
			.b-6 .b-slider .b-slide .b6-key {
				position: absolute;
				top: -61px;
   				right: -74px;
			}
		.slick-slider2 .slick-dots {
			font-size: 0;
			bottom: 85px;
			position: absolute;
			right: 50%;
			margin-right: -528px;
		}
		.slick-slider2 .slick-dots li {
			display: inline-block;
			margin-right: 4px;
		}
			.slick-slider2 .slick-dots li button {
				background: none;
				box-sizing:border-box;
				width: 14px;
				height: 14px;
				font-size: 0;
				border: 4px solid #484848;
				cursor: pointer;
			}
			.slick-slider2 .slick-dots li.slick-active button {
				background-color: #484848;
			}

.b-7 {
	background-color: #f6cd45;
}

.b-8 {
	background-image: url(../images/b8-fon.jpg);
	background-position: center;
	background-size: cover;
}
	.b-8 .b-uniqueness {
		padding-top: 50px;
		padding-bottom: 65px;
	}
		.b-8 .b-uniqueness .b-title {
			font-family: 'neucharegular';
			font-size: 27px;
			padding-bottom: 20px;
		}
		.b-8 .b-uniqueness .after-line:after {
			right: 263px;
    		top: 42px;
		}
		.b-8 .b-uniqueness .before-line:before {
			left: 263px;
    		top: 42px;
		}
		.b-8 .b-uniqueness ul {
			text-align: left;
		}
			.b-8 .b-uniqueness ul li {
				margin-top: 40px;
			}
				.b-8 .b-uniqueness ul li:nth-child(2n) p {
					margin-top: 12px;
				}
				.b-8 .b-uniqueness ul li .b-tick {
					background-image: url(../images/b8-tick.png);
					background-position: center;
					background-repeat: no-repeat;
					width: 50px;
					height: 50px;
					border: 3px solid #f6cd45;
					border-radius: 50%;
					float: left;
					margin-left: 10px;
				}
				.b-8 .b-uniqueness ul li p {
					float: left;
					font-family: 'robotolight';
					font-size: 18px;
					margin-left: 45px;
					padding-top: 3px;
				}

.b-9 {
	background-image: url(../images/b9-fon.png);
	background-position: center;
	background-size: cover;
}
	.b-9 .b-map {
		height: 760px;
	}
		.b-9 .b-map h2 {
			padding-top: 130px;
			color: #1e1e1e;
			font-family: 'neucharegular';
			font-size: 30px;
		}
	.b-9 .b-map .b9-arrow {
		position: absolute;
		right: 280px;
   		top: 150px;
	}
	.b-9 .b-map .b-city {
		position: absolute;	
		cursor: pointer;
	}
	.b-9 .b-map .b-city.no-click {
		cursor: default;
	}
		.b-9 .b-map .b-city .b-city-name {
			font-family: 'robotobold';
			font-size: 17px;
			text-transform: uppercase;
			color: #1e1e1e;
			padding: 2px 8px;
			background-color: #eaeaea;
			border-radius: 50px;
			border-bottom-left-radius: 0px;
			margin-left: 7px;
		}
			.b-9 .b-map .b-city .b-city-name:before {
				position: absolute;
				font-size: 0;
				content: "";
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 12px 12px 0 0;
				border-color: #eaeaea transparent transparent transparent;
			}
			.b-9 .b-map .b-city.b-city-right-name .b-city-name:before {
				bottom: 11px;
				left: 7px;
			} 
			.b-9 .b-map .b-city.b-city-left-name .b-city-name:before {
			    border-width: 0 12px 12px 0;
			    border-color: transparent #eaeaea transparent transparent;
			    bottom: 11px;
    			right: 6px;
			}
			.b-9 .b-map .b-city.b-city-name-bot .b-city-name:before {
				border-width: 12px 0 0 12px;
    			border-color: transparent transparent transparent #eaeaea;
    			left: 7px;
    			top: 11px;
			}
			.b-9 .b-map .b-city.b-city-bot-right-name .b-city-name:before {
				border-width: 0 0 12px 12px;
				border-color: transparent transparent #eaeaea transparent;
    			right: 7px;
    			top: 16px;
			}
			
		.b-9 .b-map .b-city .b-city-point {
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background-color: #f6cd45;
			margin-top: 10px;
		}
		.b-9 .b-map .b-city .b-city-tri {
			
		}
		.b-9 .b-map .b-city .b-city-tri2 {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 0 0 12px;
			border-color: transparent transparent transparent #eaeaea;
			margin-left: 7px;
		}
		.b-9 .b-map .b-city .b-city-tri3 {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 12px 12px 0;
			border-color: transparent #eaeaea transparent transparent;
			margin-left: 77px;
		}
		.b-9 .b-map .b-city .b-city-tri4 {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 12px 12px;
			border-color: transparent transparent #eaeaea transparent;
			margin-left: 80px;
			margin-top: 16px;
		}
	.b-9 .b-map .b-city1 {
		top: 460px;
    	left: 25px;
    	width: 110px;
	}
		.b-9 .b-map .b-city1 .b-city-name {
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 0px;
			margin-right: 6px;
		}
		.b-9 .b-map .b-city1 .b-city-tri3 {
			margin-left: 92px;
		}
		.b-city-left-name .b-city-point {
			float: right;
		}
	.b-9 .b-map .b-city2 {
		top: 353px;
    	left: 120px;
	}
	.b-9 .b-map .b-city3 {
		top: 387px;
    	left: 178px;
	}
	.b-9 .b-map .b-city4 {
		top: 445px;
    	left: 151px;
	}
	.b-9 .b-map .b-city5 {
		top: 471px;
    	left: 204px;;
	}
	.b-9 .b-map .b-city6 {
		top: 520px;
    	left: 150px;
	}
		.b-9 .b-map .b-city6 .b-city-point {
			margin-top: 0px;
			margin-bottom: 15px;
			float: right;
		}
		.b-9 .b-map .b-city6 .b-city-name {
			clear: both;
			border-bottom-left-radius: 50px;
			border-top-right-radius: 0px;
			margin-top: 0px;
			margin-right: 7px;
		}
	.b-9 .b-map .b-city7 {
		top: 569px;
    	left: 121px;
	}
		.b-9 .b-map .b-city-name-bot .b-city-point {
			margin-top: 0px;
			margin-bottom: 10px;
		}
		.b-9 .b-map .b-city-name-bot .b-city-name {
			border-bottom-left-radius: 50px;
			border-top-left-radius: 0px;
		}
	.b-9 .b-map .b-city8 {
		top: 470px;
    	left: 385px;
	}
	.b-9 .b-map .b-city9 {
		top: 507px;
    	left: 325px;
	}
	.b-9 .b-map .b-city10 {
		top: 559px;
    	left: 260px;
	}
	.b-9 .b-map .b-city11 {
		top: 560px;
    	left: 788px;
	}
		.b-9 .b-map .b-city11 .b-city-name {
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 0px;
			margin-right: 6px;
		}
		.b-9 .b-map .b-city11 .b-city-tri3 {
			margin-left: 135px;
		}
	.b-9 .b-map .b9-lock {
		position: absolute;
		bottom: 45px;
    	left: -90px;
	}


.b-9 .b-map .b-cloud {
	position: absolute;
	left: -20px;
	top: -450px;
	z-index: 100;
}
	.b-9 .b-map .b-cloud.cloud-right {
		left: -390px;
	}
	.b-9 .b-map .b-cloud .b-cloud-cont {
		color: #000;
		width: 650px;
		height: 380px;
		background-image: url(../images/b9-cloud1.png);
		background-repeat: no-repeat;
		display: none;
	}
		.b-9 .b-map .b-cloud .b-cloud-cont h2 {
			padding-top: 75px;
			padding-bottom: 10px;
			font-family: 'neucharegular';
			font-size: 24px;
			font-weight: bold;
		}
		.b-9 .b-map .b-cloud .b-cloud-cont span {
			font-size: 14px;
		}
		.b-9 .b-map .b-cloud .b-cloud-cont img {
			padding: 2px 10px;
		}
		.b-9 .b-map .b-cloud .b-cloud-cont hr {
			margin-top: 10px;
			width: 445px;
			color: #cdcccc;
			size: 1px;
			text-align: center;
			margin: 10px auto;
		}
		.b-9 .b-map .b-cloud .b-cloud-cont p {
			width: 480px;
			font-family: 'robotolight';
			font-size: 15px;
			margin: 20px auto;

		}
	.b-9 .b-map .b-cloud .b-cloud2 {
		position: absolute;
		top: 365px;
		left: 175px;
		display: none;
	}
	.b-9 .b-map .b-cloud .b-cloud3 {
		position: absolute;
		top: 420px;
		left: 131px;
		display: none;
	}
	.b-9 .b-map .b-cloud.cloud-right .b-cloud2 {

left: 350px;

}
	.b-9 .b-map .b-cloud.cloud-right .b-cloud3 {
		
left: 415px;
	}
.b-10 {
	background-image: url(../images/b10-fon.png);
	background-position: center;
	background-size: cover;
}
	.b-10 .b-footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.b-10 .b-footer .b-logo-img {
		margin-top: 22px;
	}


.b-popup {
	color: #000;
	background-color: #f6cd45;
	width: 580px;
	padding-bottom: 15px;
}
	.b-popup .b-popup-cont {
		padding: 65px 40px;
		position: relative;
	}
		.b-popup .b-popup-cont img {
			display: none;
		}
		.b-popup .b-popup-cont .popup1-p1{
			position: absolute;
			left: -56px;
		}
		.b-popup .b-popup-cont .popup1-p2{
			position: absolute;
			left: -127px;
    		top: 190px;
		}
		.b-popup .b-popup-cont .popup1-p3{
			position: absolute;
			left: -184px;
    		bottom: 15px;

		}
		.b-popup .b-popup-cont .popup1-p4{
			position: absolute;
			right: -215px;
    		top: -26px;
		}
		.b-popup .b-popup-cont .popup1-p5{
			position: absolute;
			right: -115px;
    		top: 210px;
		}
		.b-popup .b-popup-cont .popup1-p6{
			position: absolute;
			top: 326px;
    		right: -155px;
		}
		.b-popup .b-popup-cont .b-corner-left-top {
			position: absolute;
			width: 84px;
			height: 81px;
			border-left: 2px solid #555555;
			border-top: 2px solid #555555;
			left: 15px;
			top: 18px;
		}
			.b-popup .b-popup-cont .b-corner-left-top .b-corner-left-top2 {
				position: absolute;
				width: 48px;
				height: 51px;
				border-left: 1px solid #baa55f;
				border-top: 1px solid #baa55f;
				top: 6px;
				left: 9px;
			}
		.b-popup .b-popup-cont .b-corner-left-bottom {
			position: absolute;
			width: 84px;
			height: 81px;
			border-left: 2px solid #555555;
			border-bottom: 2px solid #555555;
			left: 15px;
			bottom: 0px;
		}
			.b-popup .b-popup-cont .b-corner-left-bottom .b-corner-left-bottom2 {
				position: absolute;
				width: 48px;
				height: 51px;
				border-left: 1px solid #baa55f;
				border-bottom: 1px solid #baa55f;
				bottom: 6px;
				left: 9px;
			}
		.b-popup .b-popup-cont .b-corner-right-top {
			position: absolute;
			width: 84px;
			height: 81px;
			border-right: 2px solid #555555;
			border-top: 2px solid #555555;
			right: 15px;
			top: 18px;
		}
			.b-popup .b-popup-cont .b-corner-right-top .b-corner-right-top2 {
				position: absolute;
				width: 48px;
				height: 51px;
				border-right: 1px solid #baa55f;
				border-top: 1px solid #baa55f;
				top: 6px;
				right: 9px;
			}
		.b-popup .b-popup-cont .b-corner-right-bottom {
			position: absolute;
			width: 84px;
			height: 81px;
			border-right: 2px solid #555555;
			border-bottom: 2px solid #555555;
			right: 15px;
			bottom: 0px;
		}
			.b-popup .b-popup-cont .b-corner-right-bottom .b-corner-right-bottom2 {
				position: absolute;
				width: 48px;
				height: 51px;
				border-right: 1px solid #baa55f;
				border-bottom: 1px solid #baa55f;
				bottom: 6px;
				right: 9px;
			}
		.b-popup .b-popup-cont h3 {
			font-family: 'neucharegular';
			font-size: 30px;
			padding-bottom: 25px;
		}
		.b-popup .b-popup-cont hr {
			width:  485px;
			size: 1px;
			color: #c4a94f;
			text-align: center;
		}
		.b-popup .b-popup-cont form {
			margin-top: 32px; 
		}
			.b-popup .b-popup-cont form .b-popup-form {

			}
				.b-popup .b-popup-cont form .b-popup-form input[type=text] {
					margin-top: 12px;
					width: 378px;
					height: 45px;
					font-family: 'robotolight_italic';
					font-size: 18px;
					color: #636363;
					text-align: center;
					border: 1px solid #a0a0a0;
				}
					.b-popup .b-popup-cont form .b-popup-form .inp1 {
						background-image: url(../images/popup1-name.png);
						background-repeat: no-repeat;
						background-position: 3% 50%;
					}
					.b-popup .b-popup-cont form .b-popup-form .inp2 {
						background-image: url(../images/popup1-email.png);
						background-repeat: no-repeat;
						background-position: 3% 50%;
					}
					.b-popup .b-popup-cont form .b-popup-form .inp3 {
						background-image: url(../images/popup1-phone.png);
						background-repeat: no-repeat;
						background-position: 3% 50%;
					}
				.b-popup .b-popup-cont .b-orange-butt {
					font-family: 'robotothin';
					font-size: 30px;
					margin-top: 35px;
					width: 380px;
					height: 60px;
					color: #fff;
					text-transform: uppercase;
					background-color: #e94848;
					border-radius: 3px;
					border: none;
					border-bottom: 2px solid #c02f2f;
				}
					.b-popup .b-popup-cont .b-orange-butt:hover {
						background-color: #c02f2f;
						cursor: pointer;
					}
.b-dev{
	position: absolute;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	top: 90px;
}
	.b-dev a{
		color: #FFF;
		text-decoration: underline;
	}
		.b-dev a:hover{
			text-decoration: none;
		}





@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}